body
{
	font-family: proxima-nova,sans-serif;
}

h1
{
	font-weight: 600;
}

#header
{
	max-width: 1024px;
	margin: 0 auto;
}
#map , #app {
    top: 20px;
    bottom: 0;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 1em;
}

.ip-dropdown
{
	margin: 20px;
	width: 150px;
	height: 40px;
}
.category-dropdown
{
	margin: 30px;
	width: 150px;
	height: 40px;
}

.tpm-type-dropdown
{
	margin: 30px;
	width: 150px;
	height: 40px;
}
.heading
{
	float: left;
	padding-top: 10px;
}